.GridLayout {
  display: grid;
  background: #ccc;
  grid-template-columns: repeat(1, 1fr); /* sidebars? repeat(3, 1fr); */
  grid-template-rows: repeat(1, 1fr); /* head/foot? repeat(3, 1fr); */
  grid-gap: 1rem;
  min-width: 100vw;
  min-height: calc(100vh - 4px);
}
