.title {
  margin: 0;
  margin-bottom: 1rem;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  background-color: pink;
  min-width: 50vw;
  min-height: 300px;
}

